@font-face {
    font-family: 'Hillstown Condensed Aged';
    src: url('HillstownCondensedAged.eot');
    src: local('Hillstown Condensed Aged'), local('HillstownCondensedAged'),
        url('HillstownCondensedAged.eot?#iefix') format('embedded-opentype'),
        url('HillstownCondensedAged.woff2') format('woff2'),
        url('HillstownCondensedAged.woff') format('woff'),
        url('HillstownCondensedAged.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hillstown Condensed Clean';
    src: url('HillstownCondensedClean.eot');
    src: local('Hillstown Condensed Clean'), local('HillstownCondensedClean'),
        url('HillstownCondensedClean.eot?#iefix') format('embedded-opentype'),
        url('HillstownCondensedClean.woff2') format('woff2'),
        url('HillstownCondensedClean.woff') format('woff'),
        url('HillstownCondensedClean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hillstown Sans Aged';
    src: url('HillstownSansAged.eot');
    src: local('Hillstown Sans Aged'), local('HillstownSansAged'),
        url('HillstownSansAged.eot?#iefix') format('embedded-opentype'),
        url('HillstownSansAged.woff2') format('woff2'),
        url('HillstownSansAged.woff') format('woff'),
        url('HillstownSansAged.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hillstown Sans Clean';
    src: url('HillstownSansClean.eot');
    src: local('Hillstown Sans Clean'), local('HillstownSansClean'),
        url('HillstownSansClean.eot?#iefix') format('embedded-opentype'),
        url('HillstownSansClean.woff2') format('woff2'),
        url('HillstownSansClean.woff') format('woff'),
        url('HillstownSansClean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hillstown Script Clean';
    src: url('HillstownClean.eot');
    src: local('Hillstown Script Clean'), local('HillstownClean'),
        url('HillstownClean.eot?#iefix') format('embedded-opentype'),
        url('HillstownClean.woff2') format('woff2'),
        url('HillstownClean.woff') format('woff'),
        url('HillstownClean.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hillstown Script Aged';
    src: url('HillstownAged.eot');
    src: local('Hillstown Script Aged'), local('HillstownAged'),
        url('HillstownAged.eot?#iefix') format('embedded-opentype'),
        url('HillstownAged.woff2') format('woff2'),
        url('HillstownAged.woff') format('woff'),
        url('HillstownAged.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

