@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  
  /* Custom Palette */
  --color-dunne-red: #DE3C27;
  --color-dunne-green: #1F4B30;
  --color-dunne-beige: #F5EBDD;
  --color-dunne-pink: #E780B5;
  --color-dunne-yellow: #EDB53E;
  --color-dunne-black: #000000;
  --color-dunne-white: #FFFFFF;
}

body {
  background: var(--color-dunne-beige); /* Main background color from design */
  color: var(--color-dunne-black);
  font-family: var(--font-manrope), sans-serif;
}
